@media (max-width: 760px) {
    .toggle-menu {
        display: block;
    }
    .nav-list {
        display: none;
    }
    .header-wrapper {
        flex-direction: column;
    }
    .ul-list {
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }
    .nav-list.activeNavigation {
        display: block;
        padding-bottom: 20px;
    }
    .line1.active {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .line2.active {
        display: none;
    }
    .line3.active {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .li-list {
        margin-right: 0;
    }
    .last-list {
        margin-right: 0;
    }
    .logo-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        left: 30px;
        top: 100px;
    }
  
}
@media (max-width: 980px) {
    .section1-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right-content {
        display: flex;
        max-width: 608px;
        width: 100%;
        justify-content: space-between;
    }
    .bottom-content  {
        margin-top: 0;
        margin-left: 100px;
    }
    .content {
        max-width: 450px;
        width: 100%;
    }
    .right-block {
        margin-top: 40px;
        max-width: 768px;
        width: 100%;
        padding: 0px;
    }

}
@media (max-width: 550px) {
    .content {
        max-width: 320px;
        width: 100%;
        /* height: 388px; */
        top: 80px;
        margin: 0;
        left: 5px;

    }
    .content-text {
        max-width: 320px;
        width: 100%;
        margin: 0;
        line-height: 15px;
        margin-bottom: 5px;
    }
    .content-title2 {
       margin-bottom: 5px;
       font-size: 20px;
    }
    .content-title {
        max-width: 330px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .to-visit {
        display: none;
    }
    .button {
        width: 120px;
        height: 30px;
    }

}
@media (max-width: 345px) {
    .content {
        left: 0px;
        top: 60px;
    }
}
@media (max-width: 1180px) {
    .right-block {
        padding: 50px;
    }

}
@media (max-width: 1400px) {
    .fa-angle-left {
        margin-right: 15px;
    }
}
@media (max-width: 1065px) {
    .right-block {
        padding: 15px;
    }
}
