.body {
    background-color: #F6F8F9;
}
/* header */
.header-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #F6F8F9;
    padding: 19px 20px;
    vertical-align: middle;
    position: relative;
}
.ul-list {
    display: flex;
    justify-content: space-between;
}
.li-list {
    margin-right: 27px;
    align-items: center;
}
.logo {
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FA6980;
    font-family: 'Helvetica';
}
.a-list {
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    color: #343638;
    opacity: 50%;
    font-weight: bold;
    font-family: 'Helvetica';

}
.active {
    opacity: 100%;
}
.last-list {
    margin-right: 41px;
}
.img-icon {
    position: absolute;
    top: 15px;
    right: 20px;
}
.toggle-menu {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 20px;
    height: 30px;
    cursor: pointer;
    display: none;
}

.line {
    width: 100%;
    height: 3px;
    background-color: rgb(18, 18, 18);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s linear;
}
.line1 {
    top: 30%;
}
.line2 {
    width: 50%;
}
.line3 {
    top: 70%;
}
/* section1 */
.section1-wrapper {
    display: flex;

}
.left-block {
    /* max-width: 840px;
    width: 100%;
    position: relative; */
    background-color: aqua;

}
.right-block {
    max-width: 700px;
    padding: 110px;
}
.content {
    position: absolute;
    top: 220px;
    left: 144px;
    max-width: 600px;
    width: 100%;
}
.block-img {
   max-width: 840px;
   width: 100%;
   position: relative;
}
.content-title {
    font-size: 24px;
    line-height: 42px;
    color: #FFFFFF;
    font-family: 'Helvetica';
    text-transform: uppercase;
    height: 60px;
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 40px;
}
.content-title2 {
    max-width: 600px;
    width: 100%;
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Helvetica';
    line-height: 34px;
    margin-bottom: 27px;
}
.content-text {
    max-width: 600px;
    width: 100%;
    width: 100%;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Helvetica';
    line-height: 26px;
    margin-bottom: 14px;
}
.button {
    width: 134px;
    height: 40px;
    border-radius: 6px;
    background-color: #FA6980;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-text {
    font-size: 11px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Helvetica';
}
.right-title { 
    max-width: 380px;
    width: 100%;
    height: 60px;
    position: relative;
    font-size: 24px;
    font-family: 'Helvetica';
    line-height: 20px;
    color: #202124;
    text-transform: uppercase;
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 40px
}
.icon-wrapper {
    position: absolute;
    top: 0%;
    transform: translateY(-0%);
    right: 15px;
}
.fa-angle-left {
    margin-right: 50px;
    opacity: 30%;
}
.fa-solid {
    font-size: 15px;
}
.right-content {
    max-width: 420px;
    width: 100%;
}
.top-title {
    font-size: 16px;
    font-family: 'Helvetica';
    color: #FA6980;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.article-title {
    font-size: 16px;
    font-family: 'Helvetica';
    color: #202124;
    margin-bottom: 10px;
}
.article-text {
    font-size: 16px;
    font-family: 'Helvetica';
    color: #A6ADB4;
    line-height: 26px;
}
.time-text {
    margin-top: 10px;
}
.bottom-content {
    margin-top: 40px;
}
/* section2 */ 
.section2-block {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}
.section2-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
    color: #202124;
    font-family: 'Helvetica';
    margin-bottom: 40px;
}
.each-box-title {
    font-size: 16px;
    font-family: 'Helvetica';
    color: #202124;
    margin: 40px 0 10px 0
    

}
.each-box {
    background-color: #FFFFFF;
    max-width: 360px;
    width: 100%;
    padding-bottom: 40px;

}
.each-box-wrapper {
    width: 280px;
    margin: 0 auto;
}
.each-box-text {
    font-size: 13px;
    color: #A6ADB4;
    line-height: 23px;
    margin-bottom: 10px;
    font-family: 'Acumin Pro';
}
.each-box-time {
    font-size: 13px;
    color: #A6ADB4;
    font-family: 'Acumin Pro';
}
.box-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.eaxh-box-img {
    width: 100%;
}
/* section3 */

.section3-wrapper {
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 40px;

    
}
.div-img {
    position: relative;
    max-width: 760px;
    width: 100%;
    margin-bottom: 40px;

}
.img-block {
    max-width: 760px;
    width: 100%; 
}
.main-title {
    position: absolute;
    top: 38px;
    left: 40px;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Helvetica';
}
.bottom-text {
    position: absolute;
    top: 288px;
    left: 40px;
    max-width: 680px;
    width: 100%;
}
.section3-img-title {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Helvetica';
    line-height: 34px;
    margin-bottom: 10px;
}
.section3-img-text {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF; 
    font-weight: 100;
    margin-bottom: 45px;
}
.section3-img-time {
    color: #F6F8F9;
}

.right-container {
    max-width: 360px;
    width: 100%;
    height: 950px;
}
.section3-flex {
    display: flex;
    justify-content: space-between;
}
.small-title {
    font-size: 16px;
    font-family: 'Acumin Pro';
    color: #202124;
    margin-top: 20px;
    margin-bottom: 10px;

}
.small-text {
    font-size: 13px;
    color: #707070;
}
.middle-container-box {
    margin-bottom: 40px;
    margin-top: 40px;
}

/* section4 */
.api {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.section4-title {
    font-size: 20px;
    color: #FA6980;
    font-family: 'Helvetica';
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 80px;
    text-align: center;
}

.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   justify-content: space-between;
}
.names {
    color: #343638;
    font-family: 'Helvetica';
}
.user-img {
    height: 100%;
}

/* footer */
.footer {
    background-color: #A6ADB4;
    margin-top: 40px;
    padding: 20px 140px;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Acumin Pro';
    color: #FFFFFF;
}
.footer-list {
    font-size: 13px;
    color: #CBD0D3;
    margin-bottom: 8px;
    font-family: 'Helvetica';
    text-transform: uppercase;
}
.email-input {
    border: 2px solid #FFFFFF;
    opacity: 50%;
    width: 262px;
    height: 42px;
    padding: 20px;
    border-radius: 5px;
    background-color: #A6ADB4;
    position: relative;
    color: #CBD0D3;
}
.email-text {
    font-size: 11px;
    color: #CBD0D3;
    margin-top: 16px;
    font-family: 'Helvetica';
}
.fa-brands {
    color: #FFFFFF;
    margin-right: 35px;
}
.fa-earth-americas {
    color: #FFFFFF;
}

/* page2 */
.page2-wrapper1 {
    max-width: 1174px;
    width: 100%;
    margin-bottom: 42px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.wrapper-icon {
    width: 40px;
    height: 40px;
    border: 2px solid #EBEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
.fa-sliders {
    color: 30px;
    display: inline-block;
}
.page2-title {
    display: inline-block;
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}
.world-news {
    color: #A6ADB4;
}
.desh {
    margin-left: 15px;
    margin-right: 15px;
}
.page2-container1 {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
}
.block-left {
    position: relative;
}
.text-img-div {
    position: absolute;
    top: 140px;
    left: 100px;
    text-align: center;
}
.block-left-img {
    max-width: 580px;
    width: 100%;
}
.block-left-title {
    font-size: 32px;
    font-family: 'Helvetica';
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 20px;

}
.block-left-line {
    width: 40px;
    height: 3px;
    background-color: #FA6980;
    margin: 0 auto;
    border-radius: 15%;
}
.block-left-text {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Helvetica';
    margin-top: 25px;
    margin-bottom: 35px;
}
.block-right {
    max-width: 580px;
    width: 100%;
    height: 500px;
}
.block-right-content {
    max-width: 360px;
    margin: 0 auto;
    margin-top: 125px;

}
.select-button {
    max-width: 360px;
    width: 100%;
    height: 40px ;
    border: none;
}
.data-select {
    font-size: 13px;
    text-transform: capitalize;
    font-family: 'Helvetica';
}
.select-wrapper {
    margin-top: 10px;
    margin-bottom: 50px;
}
.button {
    width: 134px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: 'Helvetica';
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
}
/* page2/section2 */
.text-block-wrapper {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #EBEDED;
    border-bottom: 2px solid #EBEDED;
    padding-top: 40px;
    padding-bottom: 40px;
    vertical-align: top;
    flex-wrap: wrap;
    
}
.p-wrapper {
    max-width: 360px;
    width: 100%;
}
.avatar-title {
    max-width: 360px;
    width: 100%;
    color: #202124;
    font-size: 24px;
    font-family: 'Acumin Pro';
    margin-top: 20px;
    font-weight: bold;
}
.small-paragraph {
    font-size: 14px;
    color: #A6ADB4;
}
.small-time {
    font-size: 14px;
    color: #A6ADB4;
    margin-top: 19px;
}
/* page2/last section */
.last-section-wrapper {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #EBEDED;
    margin-bottom: 38px;
}
.last-p {
    max-width: 670px;
    width: 100%;
    color: #A6ADB4;
    font-size: 14px;
    font-family: 'Helvetica';
    margin-bottom: 40px;
    margin-top: 40px;
}
.elephant-img {
    max-width: 1160px;
    width: 100%;
}
.numbers {
    width: 233px;
    margin: 0 auto;
    display: none;
}
.numbers-list {
    display: flex;
    justify-content: space-between;
}
.number-li {
    font-family: 'Helvetica';
    font-size: 11px;
    line-height: 20px;
    color: #A6ADB4;
}
.first-li {
    color: #202124;
}